.currency {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.title {
  flex-basis: 100%;
  flex-direction: row !important;
  justify-content: center;
}
.startdate{
  padding: 11px;
  border: 2px solid rgb(82, 168, 184);
  border-radius: 6px;
}
.title p {
  margin: 15px;
}
.currency div {
  display: flex;
  flex-direction: column;
}
.currency .sell {
  flex-basis: 100px;
}
.buy div,
.sell div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}
.buy div input,
.sell div input {
  padding: 20px;
  background-color: rgba(141, 142, 143, 0.219);
  color: rgb(38, 40, 41);
  border-radius: 3px;
  width: 100px;
  text-align: center;
  border: none;
}

.buy div input:first-child,
.sell div input:first-child {
  margin-right: 40px;
}
.buy div input:last-child,
.sell div input:last-child {
  margin-right: 142px;
}
.btn-success {
  padding: 15px;
  background-color: rgb(73, 189, 117);
  border: none;
  border-radius: 5px;
  margin: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.btn-reload{
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  margin: 15px;
  cursor: pointer;
  background-color: rgb(62, 182, 116);
  transition: all ease .4s;
  color: #fff;
}
.btn-reload:hover{
  transform: scale(1.1);
}